body {
    align-content: center;
    text-align: center;
    background-color: lightcyan;
}

h1 {
    color: chocolate;
    text-align: center;
    font-family: Scriptorama, serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    background-color: yellow;
}

#body {
    color: blue;
}

.wrapper {
    font-size:10%;
    width: 100%;
    align-content: center;
}
.column {
    display: inline-block;
    width: 50%;
}
.column div {
    display: inline-block;
    width: 100%;
    background: #005;
    margin-bottom: 5px;
}